@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");

.moclichsu {
  position: relative;
  top: 200px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.moclichsu .title {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
}

.content {
  display: flex;
}

.content p {
  font-size: 20px;
  font-family: "Sono", sans-serif;
  width: 50%;
}

.content img {
  width: 500px;
  position: relative;
  top: -100px;
}
